/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333333;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

nav {
    background-color: #005e65;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

nav a.active {
    background-color: #04AA6D;
    color: white;
}

nav a.icon {
    display: none;
}

header {
    padding: 20px;
    text-align: center;
    background: #689c95;
    color: white;
}

header h1 {
    margin-bottom: 10px;
}

header img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

main {
    padding: 20px;
    background: white;
    margin-bottom: 20px;
}

main h2 {
    margin-bottom: 10px;
    color: #021616;
}

main article {
    margin-bottom: 20px;
}

main ul {
    margin: 10px 0;
    padding-left: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

@media screen and (max-width: 600px) {
    nav a:not(:first-child) {display: none;}
    nav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    nav.responsive {position: relative;}
    nav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
   
